/* Colors */
@layer base {
  :root {
    --dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='hsl(281, 16%, 65%)' stroke-width='7' stroke-dasharray='6%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    --dashed-border-rounded: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='hsl(281, 16%, 65%)' stroke-width='7' stroke-dasharray='6%2c 29' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    --base-radius: 0.625rem;
  }

  /* colors */
  :root {
    /* Base HSL values */
    --base-h: 255;
    --base-s: 8%;

    /* Conduit Purple */
    --primary-h: 280;
    --primary-s: 94%;

    /* Conduit Orange */
    --secondary-h: 24;
    --secondary-s: 77%;

    /* Conduit Rose */
    --tertiary-h: 338;
    --tertiary-s: 54%;

    /* Conduit Indigo */
    --accent-h: 255;
    --accent-s: 67%;

    /* Dark mode just inverts the lightness values */
    --status-lightness: 30%;
    --status-foreground-lightness: 80%;

    --base-50: hsla(var(--base-h), var(--base-s), 95%, 1);
    --base-100: hsla(var(--base-h), var(--base-s), 90%, 1);
    --base-150: hsla(var(--base-h), var(--base-s), 85%, 1);
    --base-200: hsla(var(--base-h), var(--base-s), 80%, 1);
    --base-300: hsla(var(--base-h), var(--base-s), 70%, 1);
    --base-400: hsla(var(--base-h), var(--base-s), 60%, 1);
    --base-500: hsla(var(--base-h), var(--base-s), 50%, 1);
    --base-600: hsla(var(--base-h), var(--base-s), 40%, 1);
    --base-700: hsla(var(--base-h), var(--base-s), 30%, 1);
    --base-800: hsla(var(--base-h), var(--base-s), 20%, 1);
    --base-900: hsla(var(--base-h), var(--base-s), 10%, 1);
    --base-950: hsla(var(--base-h), var(--base-s), 5%, 1);

    --primary-50: hsla(var(--primary-h), var(--primary-s), 95%, 1);
    --primary-100: hsla(var(--primary-h), var(--primary-s), 90%, 1);
    --primary-200: hsla(var(--primary-h), var(--primary-s), 80%, 1);
    --primary-300: hsla(var(--primary-h), var(--primary-s), 70%, 1);
    --primary-400: hsla(var(--primary-h), var(--primary-s), 60%, 1);
    --primary-500: hsla(var(--primary-h), var(--primary-s), 50%, 1);
    --primary-600: hsla(var(--primary-h), var(--primary-s), 40%, 1);
    --primary-700: hsla(var(--primary-h), var(--primary-s), 30%, 1);
    --primary-800: hsla(var(--primary-h), var(--primary-s), 20%, 1);
    --primary-900: hsla(var(--primary-h), var(--primary-s), 10%, 1);
    --primary-950: hsla(var(--primary-h), var(--primary-s), 5%, 1);

    --secondary-50: hsla(var(--secondary-h), var(--secondary-s), 95%, 1);
    --secondary-100: hsla(var(--secondary-h), var(--secondary-s), 90%, 1);
    --secondary-200: hsla(var(--secondary-h), var(--secondary-s), 80%, 1);
    --secondary-300: hsla(var(--secondary-h), var(--secondary-s), 70%, 1);
    --secondary-400: hsla(var(--secondary-h), var(--secondary-s), 60%, 1);
    --secondary-500: hsla(var(--secondary-h), var(--secondary-s), 50%, 1);
    --secondary-600: hsla(var(--secondary-h), var(--secondary-s), 40%, 1);
    --secondary-700: hsla(var(--secondary-h), var(--secondary-s), 30%, 1);
    --secondary-800: hsla(var(--secondary-h), var(--secondary-s), 20%, 1);
    --secondary-900: hsla(var(--secondary-h), var(--secondary-s), 10%, 1);
    --secondary-950: hsla(var(--secondary-h), var(--secondary-s), 5%, 1);

    --tertiary-50: hsla(var(--tertiary-h), var(--tertiary-s), 95%, 1);
    --tertiary-100: hsla(var(--tertiary-h), var(--tertiary-s), 90%, 1);
    --tertiary-200: hsla(var(--tertiary-h), var(--tertiary-s), 80%, 1);
    --tertiary-300: hsla(var(--tertiary-h), var(--tertiary-s), 70%, 1);
    --tertiary-400: hsla(var(--tertiary-h), var(--tertiary-s), 60%, 1);
    --tertiary-500: hsla(var(--tertiary-h), var(--tertiary-s), 50%, 1);
    --tertiary-600: hsla(var(--tertiary-h), var(--tertiary-s), 40%, 1);
    --tertiary-700: hsla(var(--tertiary-h), var(--tertiary-s), 30%, 1);
    --tertiary-800: hsla(var(--tertiary-h), var(--tertiary-s), 20%, 1);
    --tertiary-900: hsla(var(--tertiary-h), var(--tertiary-s), 10%, 1);
    --tertiary-950: hsla(var(--tertiary-h), var(--tertiary-s), 5%, 1);

    --accent-50: hsla(var(--accent-h), var(--accent-s), 95%, 1);
    --accent-100: hsla(var(--accent-h), var(--accent-s), 90%, 1);
    --accent-200: hsla(var(--accent-h), var(--accent-s), 80%, 1);
    --accent-300: hsla(var(--accent-h), var(--accent-s), 70%, 1);
    --accent-400: hsla(var(--accent-h), var(--accent-s), 60%, 1);
    --accent-500: hsla(var(--accent-h), var(--accent-s), 50%, 1);
    --accent-600: hsla(var(--accent-h), var(--accent-s), 40%, 1);
    --accent-700: hsla(var(--accent-h), var(--accent-s), 30%, 1);
    --accent-800: hsla(var(--accent-h), var(--accent-s), 20%, 1);
    --accent-900: hsla(var(--accent-h), var(--accent-s), 10%, 1);
    --accent-950: hsla(var(--accent-h), var(--accent-s), 5%, 1);
  }

  .light {
    --status-lightness: 70%;
    --status-foreground-lightness: 20%;

    --base-50: hsla(var(--base-h), var(--base-s), 5%, 1);
    --base-100: hsla(var(--base-h), var(--base-s), 10%, 1);
    --base-150: hsla(var(--base-h), var(--base-s), 15%, 1);
    --base-200: hsla(var(--base-h), var(--base-s), 20%, 1);
    --base-300: hsla(var(--base-h), var(--base-s), 30%, 1);
    --base-400: hsla(var(--base-h), var(--base-s), 40%, 1);
    --base-500: hsla(var(--base-h), var(--base-s), 50%, 1);
    --base-600: hsla(var(--base-h), var(--base-s), 60%, 1);
    --base-700: hsla(var(--base-h), var(--base-s), 70%, 1);
    --base-800: hsla(var(--base-h), var(--base-s), 80%, 1);
    --base-900: hsla(var(--base-h), var(--base-s), 90%, 1);
    --base-950: hsla(var(--base-h), var(--base-s), 95%, 1);

    --primary-50: hsla(var(--primary-h), var(--primary-s), 5%, 1);
    --primary-100: hsla(var(--primary-h), var(--primary-s), 10%, 1);
    --primary-200: hsla(var(--primary-h), var(--primary-s), 20%, 1);
    --primary-300: hsla(var(--primary-h), var(--primary-s), 30%, 1);
    --primary-400: hsla(var(--primary-h), var(--primary-s), 40%, 1);
    --primary-500: hsla(var(--primary-h), var(--primary-s), 50%, 1);
    --primary-600: hsla(var(--primary-h), var(--primary-s), 60%, 1);
    --primary-700: hsla(var(--primary-h), var(--primary-s), 70%, 1);
    --primary-800: hsla(var(--primary-h), var(--primary-s), 80%, 1);
    --primary-900: hsla(var(--primary-h), var(--primary-s), 90%, 1);
    --primary-950: hsla(var(--primary-h), var(--primary-s), 95%, 1);

    --secondary-50: hsla(var(--secondary-h), var(--secondary-s), 5%, 1);
    --secondary-100: hsla(var(--secondary-h), var(--secondary-s), 10%, 1);
    --secondary-200: hsla(var(--secondary-h), var(--secondary-s), 20%, 1);
    --secondary-300: hsla(var(--secondary-h), var(--secondary-s), 30%, 1);
    --secondary-400: hsla(var(--secondary-h), var(--secondary-s), 40%, 1);
    --secondary-500: hsla(var(--secondary-h), var(--secondary-s), 50%, 1);
    --secondary-600: hsla(var(--secondary-h), var(--secondary-s), 60%, 1);
    --secondary-700: hsla(var(--secondary-h), var(--secondary-s), 70%, 1);
    --secondary-800: hsla(var(--secondary-h), var(--secondary-s), 80%, 1);
    --secondary-900: hsla(var(--secondary-h), var(--secondary-s), 90%, 1);
    --secondary-950: hsla(var(--secondary-h), var(--secondary-s), 95%, 1);

    --tertiary-50: hsla(var(--tertiary-h), var(--tertiary-s), 5%, 1);
    --tertiary-100: hsla(var(--tertiary-h), var(--tertiary-s), 10%, 1);
    --tertiary-200: hsla(var(--tertiary-h), var(--tertiary-s), 20%, 1);
    --tertiary-300: hsla(var(--tertiary-h), var(--tertiary-s), 30%, 1);
    --tertiary-400: hsla(var(--tertiary-h), var(--tertiary-s), 40%, 1);
    --tertiary-500: hsla(var(--tertiary-h), var(--tertiary-s), 50%, 1);
    --tertiary-600: hsla(var(--tertiary-h), var(--tertiary-s), 60%, 1);
    --tertiary-700: hsla(var(--tertiary-h), var(--tertiary-s), 70%, 1);
    --tertiary-800: hsla(var(--tertiary-h), var(--tertiary-s), 80%, 1);
    --tertiary-900: hsla(var(--tertiary-h), var(--tertiary-s), 90%, 1);
    --tertiary-950: hsla(var(--tertiary-h), var(--tertiary-s), 95%, 1);

    --accent-50: hsla(var(--accent-h), var(--accent-s), 5%, 1);
    --accent-100: hsla(var(--accent-h), var(--accent-s), 10%, 1);
    --accent-200: hsla(var(--accent-h), var(--accent-s), 20%, 1);
    --accent-300: hsla(var(--accent-h), var(--accent-s), 30%, 1);
    --accent-400: hsla(var(--accent-h), var(--accent-s), 40%, 1);
    --accent-500: hsla(var(--accent-h), var(--accent-s), 50%, 1);
    --accent-600: hsla(var(--accent-h), var(--accent-s), 60%, 1);
    --accent-700: hsla(var(--accent-h), var(--accent-s), 70%, 1);
    --accent-800: hsla(var(--accent-h), var(--accent-s), 80%, 1);
    --accent-900: hsla(var(--accent-h), var(--accent-s), 90%, 1);
    --accent-950: hsla(var(--accent-h), var(--accent-s), 95%, 1);
  }
}

@theme {
  /* breakpoints */
  --breakpoint-3xl: 120rem;

  /* typography */
  /* Font families */
  --font-display: 'Whyte Inktrap Variable', system-ui, sans-serif;
  --font-body: 'Poppins', system-ui, sans-serif;
  --font-mono: 'Whyte Mono Inktrap Variable', monospace;

  --font-primary: var(--font-body);
  --font-secondary: var(--font-display);

  /* Line heights */

  --leading-tight: 1.2;
  --leading-snug: 1.35;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;

  /* Border radius */

  --radius-xs: calc(var(--base-radius) - 4px);
  --radius-sm: calc(var(--base-radius) - 2px);
  --radius-md: var(--base-radius);
  --radius-lg: calc(var(--base-radius) + 4px);
  --radius-xl: calc(var(--base-radius) + 8px);
  --radius-2xl: calc(var(--base-radius) + 16px);
  --radius-3xl: calc(var(--base-radius) + 24px);
  --radius-4xl: calc(var(--base-radius) + 32px);

  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
  --transition-slow: 350ms ease;
  --ease-bounce: cubic-bezier(0.47, 1.64, 0.41, 0.8);

  /*  */
  /*  */
  /* colors */

  --color-paper: var(--accent-950);
  --color-ink: var(--base-100);

  /*  */

  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-150: var(--base-150);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary: var(--primary-600);
  --color-primary-foreground: var(--primary-100);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary: var(--secondary-600);
  --color-secondary-foreground: var(--secondary-200);

  --color-tertiary-50: var(--tertiary-50);
  --color-tertiary-100: var(--tertiary-100);
  --color-tertiary-200: var(--tertiary-200);
  --color-tertiary-300: var(--tertiary-300);
  --color-tertiary-400: var(--tertiary-400);
  --color-tertiary-500: var(--tertiary-500);
  --color-tertiary-600: var(--tertiary-600);
  --color-tertiary-700: var(--tertiary-700);
  --color-tertiary-800: var(--tertiary-800);
  --color-tertiary-900: var(--tertiary-900);
  --color-tertiary-950: var(--tertiary-950);
  --color-tertiary: var(--tertiary-600);
  --color-tertiary-foreground: var(--tertiary-200);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
  --color-accent: var(--accent-600);
  --color-accent-foreground: var(--accent-200);

  --color-muted: var(--base-800);
  --color-muted-foreground: var(--base-300);

  /* static colors */
  --color-destructive: hsla(0, 100%, var(--status-lightness), 1);
  --color-warning: hsla(60, 100%, var(--status-lightness), 1);
  --color-success: hsla(127, 100%, var(--status-lightness), 1);
  --color-info: hsla(200, 100%, var(--status-lightness), 1);

  --color-destructive-foreground: hsla(
    0,
    100%,
    var(--status-foreground-lightness),
    1
  );
  --color-warning-foreground: hsla(
    60,
    100%,
    var(--status-foreground-lightness),
    1
  );
  --color-success-foreground: hsla(
    127,
    100%,
    var(--status-foreground-lightness),
    1
  );
  --color-info-foreground: hsla(
    200,
    100%,
    var(--status-foreground-lightness),
    1
  );

  /* Gradients */

  /* Shadows */

  --shadow-primary: 0 0 0.625em var(--color-primary-500),
    0 0 1.25em var(--color-primary-400), 0 0 2.5em var(--color-primary-300),
    0 0 5em var(--color-primary-200);

  --shadow-border-glow: 0 0 0.1rem var(--color-ink), 0 0 0.1rem var(--color-ink),
    0 0 1rem var(--tw-shadow-color), 0 0 0.1rem var(--tw-shadow-color),
    0 0 0.15rem var(--tw-shadow-color), inset 0 0 0.2rem var(--tw-shadow-color);

  /* Borders */

  /* animations #todo*/
}

/* shadcn */
@theme inline {
  --color-background: var(--color-paper);
  --color-foreground: var(--color-ink);

  /* card */
  --color-card: var(--primary-950);
  --color-card-foreground: var(--color-ink);

  /* popover */
  --color-popover: var(--primary-950);
  --color-popover-foreground: var(--color-ink);

  /* sidebar */
  --color-sidebar: var(--primary-950);
  --color-sidebar-foreground: var(--color-ink);

  /*  */
  --color-sidebar-primary: var(--color-primary-700);
  --color-sidebar-primary-foreground: var(--color-primary-foreground);
  --color-sidebar-secondary: var(--color-secondary-700);
  --color-sidebar-secondary-foreground: var(--color-secondary-foreground);
  --color-sidebar-accent: var(--color-accent-700);
  --color-sidebar-accent-foreground: var(--color-accent-foreground);

  /*  */
  --color-border: var(--color-muted);
  --color-input: var(--color-muted);
  --color-ring: var(--color-muted);
  --color-sidebar-border: var(--color-muted);
  --color-sidebar-ring: var(--color-muted);

  /* chart */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}
